<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>The Magic Table</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="{{ url_for('static', filename='images/banner.jpg') }}">
					<div class="inner">
						<header>
							<h1>NYC Airbnb</h1>
							<h2>(Made Easy)</h2>
							<p>A simple guide to finding the perfect place to stay</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="boroughs/brooklyn.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>Brooklyn</h3>
									<p>"Brooklyn's good. Brooklyn's funky. Brooklyn's happening." - <strong>Waris Dirie</strong>
											<br></br>
											<br></br>
									</p>
									<a href="{{ url_for('static', filename='boroughs/brooklyn.html') }}" class="button fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

							<div class="box">
								<a href="boroughs/bronx.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>The Bronx</h3>
									<p> "I come from the Bronx, so I was exposed to every type of music you can think of." - <strong>Romeo Santos</strong>
											<br></br>
											<br></br>
									</p>
									<a href="{{ url_for('static', filename='boroughs/bronx.html') }}" class="button style2 fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

							<div class="box">
								<a href="boroughs/manhattan.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>Manhattan</h3>
									<p>"The thing about New York is, more than any other place I've ever been, you run into people on the street that you would never imagine you'd see, old friends, people just like there for a day or two."  - <strong>Michael Shannon</strong></p>
									<a href="{{ url_for('static', filename='boroughs/manhattan.html') }}" class="button style3 fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

							<div class="box">
								<a href="boroughs/queens.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>Queens</h3>
									<p>"Queens, I hope, is an argument for the founders’ original intent, a place where America still offers the world something of inestimable value: hope. And in return, receives so much." - <strong>Anthony Bourdain</strong> 
											<br></br>
											<br style="line-height:32px">
									</p>
									<a href="{{ url_for('static', filename='boroughs/queens.html') }}" class="button style2 fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

							<div class="box">
								<a href="boroughs/staten_island.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>Staten Island</h3>
									<p> "I always remember to go on the Staten Island Ferry because it's the most amazing view of New York. And it's free! You see Ellis Island, and it conjures up something of that great moment: you know, the huddled masses yearning to breathe free."  - <strong>Tim Pigott-Smith</strong> 
									</p>
									<a href="{{ url_for('static', filename='boroughs/staten_island.html') }}" class="button style3 fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

							<div class="box">
								<a href="boroughs/all.html" class="image fit" data-poptrox="youtube,800x400"><img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt="" /></a>
								<div class="inner">
									<h3>All Boroughs</h3>
									<p>"In the Bronx, you have the southern Italians; in Queens, the Greeks, Koreans and Chinese; in Brooklyn, the Jewish community; and in Harlem, the Hispanics - all with their own markets." - <strong>Daniel Boulud</strong> 
											<br></br>
									</p>
									<a href="{{ url_for('static', filename='boroughs/all.html') }}" class="button fit" data-poptrox="youtube,800x400">See Listings</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>The Magic Table</h2>
						<p>Ann, David, Shaena and Tomás</p>

						<ul class="icons">
							<li><a href="http://127.0.0.1:5000/" class="icon fa-home"><span class="label">Twitter</span></a></li>
							<li><a href="https://twitter.com/nycgov" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/nycgo/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/nycgov/?hl=en" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
						</ul>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.poptrox.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>